{% extends 'main.html' %}

{% block content %}

<main class="singleForm my-xl">
    <div class="container">
        <div class="layout">
            <div class="column column--1of1">
                <div class="card text-center">
                    <div class="card__body">

                        <h3>Password Reset Complete</h3>

                        <p>Your password has been set.</p>

                        <a href="{% url 'login' %}">
                            Login
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}