{% extends 'main.html' %}

{% block content %}

<main class="singleForm my-xl">
    <div class="container">
        <div class="layout">
            <div class="column column--1of1">
                <div class="card text-center">
                    <div class="card__body">

                        <h3>Password Reset</h3>

                        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input
                                class="btn btn--sub btn--lg my-md"
                                type="submit"
                                value="Send Email"
                            />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
input[type='text'],
input[type='email'],
input[type='password']{
  min-height: 4.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  width: 100%;
  background: var(--color-bg);
}
</style>

{% endblock %}